@{
    ViewData["Title"] = "Home Page";
    var surname = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcomme Cagri @surname</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
